[submodule "sources/meta-clang"]
	path = sources/meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = gatesgarth
[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = https://git.yoctoproject.org/git/meta-raspberrypi
	branch = gatesgarth
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = gatesgarth
[submodule "sources/poky"]
	path = sources/poky
	url = https://git.yoctoproject.org/git/poky
	branch = gatesgarth
