[submodule "sources/meta-clang"]
	path = sources/meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = gatesgarth
[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = https://git.yoctoproject.org/git/meta-raspberrypi
	branch = gatesgarth
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = gatesgarth
[submodule "sources/poky"]
	path = sources/poky
	url = https://git.yoctoproject.org/git/poky
	branch = gatesgarth
[submodule "meta-swupdate"]
	path = meta-swupdate
	url = https://github.com/sbabic/meta-swupdate.git
[submodule "meta-swupdate-boards"]
	path = meta-swupdate-boards
	url = https://github.com/sbabic/meta-swupdate-boards.git
[submodule "sources/meta-swupdate-boards"]
	path = sources/meta-swupdate-boards
	url = https://github.com/sbabic/meta-swupdate-boards.git
[submodule "sources/meta-swupdate"]
	path = sources/meta-swupdate
	url = https://github.com/sbabic/meta-swupdate.git
